
/*font-family: 'Lato', sans-serif;
font-family: 'Sonsie One', cursive;
font-family: 'Righteous', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Merriweather', serif;
font-family: 'Orbitron', sans-serif;
font-family: 'Russo One', sans-serif;*/

html{
-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100vh;
  margin: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  font-family: sans-serif; 
  }


body{
	font-family: 'Lato', 'Orbitron', sans-serif;
	font-weight: bold;
	background-color: gray;
    text-align: center;	
	height: 100vh;
    margin: 15%;
}


.flexone{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
    justify-content: space-around;
	align-items: flex-start;
	align-self: center;
	align-content: flex-start;
	flex: flex-grow;
}


.flextwo{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-end;
	align-self: center;
	align-content: flex-end;
	flex: flex-shrink;
}

.reason11{
   align-self: center;
}

.reason21{
	align-self: center;
}

.box1{
	border: solid;
	padding: 30px;
	order: 3;
}

.box2{
	border: solid;
	padding: 30px;
	order: 3;
}



.heading{
	color: #041264;
	text-decoration: ultra-expanded;
	font-family: Georgia, serif;
}

nav{
	text-decoration: none;
	font-family: 'Russo One', serif;
	padding:2px;
	font-size: 1.2em;
	border: medium;
	border-color:steelblue;
	justify-content: space-between;
}

#list{
	border-radius: 15px;
	margin: 5%, 5%, 5%, 5%;
	padding: 2%;
	position: sticky;
	align-content: center;
	background-color: black;
	font-size: 1.3em;
	width: 50%;
    align-self: center;
	left: 20%;
}


#intronote{
	border-width: thick;
	border-radius: 15px;
	border-color: steelblue;
	border-style: groove;
	margin: 5%, 5%, 5%, 5%;
	padding-right: 20%;
	float: center;
	position: relative;
	background-image: images/blockquote.jpg;
	background-repeat: repeat;
	
}

td{
  border: 3px solid black;
  text-align: center;
}

table{
	border-collapse: collapse;
	border: none;
	display: flex;
	flex-flow: column nowrap !important;
}

table{
	border-collapse: collapse;
	border: thick;
	align-content: flex-start;
	flex-flow: row;
}


nav a:link{color:#5B2C6F;}

nav a:visited{color:#85C1E9;}

nav a:hover{color:#FF00FF;}

nav a:active{color:#0000FF;}


h1, h2, h3{
	color: #041264;
}

